.faq-card .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}

.faq-card.open .faq-answer {
    max-height: 500px;
}

.faq-card {
    cursor: pointer;
}

#faq-cards {
    display: flex;
    align-items: flex-start;
}