body {
  background-color: var(--bg-main);
}

p, li {
  color: var(--color-text-main);
}

h2 {
  color: var(--color-text-accent);
}

h3 {
    color: var(--color-text-accent)
}

h4 {
    color: var(--color-text-accent)
}

.main-headline {
  color: var(--color-accent-gold);
  text-align: center;
}

section {
  border: 1px solid var(--color-border-dark);
}

article {
  border: 1px solid var(--color-border-medium);
}

#main-welcome-block {
  display: flex;
  gap: 10px;
}

footer p {
  color: var(--color-text-muted);
  font-size: small;
  line-height: 1.5;
  font-weight: 700;
}